.main_landing {
    height: 105vh;
    width: 100%;
    background: url('../assets/Header_banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay{
    background-color: #00000025;
    width: 100%;
    height: 100%;
}

.main_landing .overlay .landing{
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main_landing .overlay .landing h1{
    font-size: clamp(24px, 2.4vw, 42px);
    font-weight: 700;
    color: #fff;
}
.main_landing .overlay .landing h4{
    color: #fff;
    font-size: clamp(16px, 2vw, 26px);
    margin-top: 20px;
}

.main_landing .overlay .landing #scroll{
   position: relative;
   bottom: -22%;
   color: #fff;
}

.main_landing .overlay .landing .line{
    position: relative;
    bottom: -10%;
    width: 1px;
    height: 60px;
    background-color: #ffffffb6;
}

/* ########### */

.service_overview{
    display: flex;
    flex-wrap: wrap;
}
.service_overview .app{
    background: url('../assets/Group-18328.jpg');
}
.service_overview .app_int{
    background: url('../assets/Group-18329.jpg');
}
.service_overview .digi_op{
    background: url('../assets/Group-18330.jpg');
}
.service_overview .start_up{
    background: url('../assets/Group-18331.jpg');
}
.service_overview .box{
    width: 50%;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service_overview .box h3{
    font-size: clamp(18px, 1.3vw, 32px);
    color: #fff;
    font-weight: 700;
}
.service_overview .box .overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

/* #################### */

.industries_background {
    background: linear-gradient(90deg, #009563 0%, #00E699 52%);
    height: 450px;
    position: absolute;
    width: 100%;
    top: 0;
}
.industries {
    background: #ebebeb;
    position: relative;
    padding-bottom: 50px;
}
.industries .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 140px;
}

.industries article.container{
    display: flex;
    justify-content: center;
    max-width: 720px;
    margin-top: 50px;
    align-items: center;
    padding-top: 0;
}

/* ########### */
#career{
    text-align: center;
    color: #fff;
    background-color: #000;
    padding-top: 50px;
}

#career h1{
    color: var(--primary-color);
    font-size: 32px;
    font-weight: 700;
}