.service_details{
    background-color: #f3f6f6;
}

.service_details .description {
    font-size: 20px;
    color: #555;
    font-weight: 500;
    padding-bottom: 40px;
}

.service_details #tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.service_details .tab_body{
    display: flex;
    margin-top: 10px;
}
.service_details .tab_body .img-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    background: #fff;
}
.service_details .tab_body .content-container img{
    object-fit: contain;
    width: 90px;
    height: 90px;
    background-color: #fff;
    /* border-radius: 50%; */
    margin: 10px auto;
}
.service_details .tab_body .content-container {
    background: #1c1c1c;    
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}
.service_details .tab_body .content-container h1 {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}
.service_details #tabs .tab {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px; 
    flex: 1;
    text-align: center;
    font-weight: 700;
    color: #333;
}

.service_details #tabs .tab.active{
    color: var(--primary-color);
}

/* ###### */

.jumbStart{
    background: url('../../../assets/service-Page_sec3GB.jpg') center no-repeat;
    width: 100%;
    height: 370px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.differentiators .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.differentiators .container > *{
    flex: 1;
}

.differentiators .container h1{
    font-size: 24px;
    font-weight: 800;
    color: #333;
    padding: 15px 10px;
    border-bottom: 1px solid #555;
    text-align: center;
}
.differentiators .box{
    padding: 0 10px;
}
.differentiators p{
    padding: 15px;
    color: #555;
    font-weight: 500;
}