.container{
  max-width: 1244px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 14px;
}

.btn.white {
  background-color: #fff;
  color: #333;
}
.btn.green {
  background-color: var(--primary-color);
  color: #fff;
}

.btn.white:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.btn.green:hover {
  background-color: var(--secondary-color);
}

svg {
  display: inline-block;
}
