@media screen and (max-width: 1195px) {
    .industries .container {
        justify-content: center;
    }

    .info-box {
        margin-bottom: 15px;
        margin-right: 10px;
    }
}


@media screen and (max-width: 935px) {
    .nav_links {
        display: none;
    }

    .contact-nav {
        display: none;
    }

    .menu {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .industries article.container .info, .industries article.container img {
        width: 100%;
        padding-right: 0;
        margin-top: 5px;
    }
}